@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121316;
  color: #f4f4f5;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

/* Custom minimal scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #27272a;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}